body{
  background: #302a2a;
  color: white;
}


.header{
  font-family:sans-serif;
  background: #fcfcfc;
  color: red;
  background: linear-gradient(90deg, rgba(2,5,19,1) 0%, rgba(77,30,30,1) 58%, rgba(96,8,8,1) 100%);
  line-height: 100px;
  border-radius: 20px;
  margin-top: 7px;
 font-size: 50px;
 text-align: center;

 /* display: flex;
 text-align: center;
 flex-wrap: wrap;
 justify-content: space-around;
 flex-direction: column */
}

.para{
  text-align: center;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
}

.box{
  font-size: 30px;
}

/* .box{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 40px;
  justify-content: center;

} */

/* .first{
  height: 18rem;
  width: 18rem;
  background: rgb(238,174,202);
  background: rgb(37,14,51);
background: radial-gradient(circle, rgba(37,14,51,1) 27%, rgba(20,70,129,1) 100%, rgba(37,14,51,1) 100%);
} */